#player
    overflow hidden

    // .content--wrap
    //     position relative

    #canvas-3d
        width 100%
        height 100%

    .ui-dock-right.animated
        transition-delay 0.1s

    .ui-header
        padding 0 1rem
        line-height 2.5em
        background #293538
