#player.theme--dark
    v-toolbar(app clipped-left height="36")
        v-btn(@click="editScene" exact) Back
        //- v-btn(@click="openInBrowser") Open in browser

    v-content: .absolute-full
        canvas#canvas-3d
            