$toggleSize = 25px
$borderColor = #111

.pc-timeline
    .tl-inner
        position relative
        height 40px
        border-bottom: 1px solid #333

    .tl-frame
        position absolute
        top 0
        bottom 0
        
        background-color rgba(black, 0.2)

        overflow hidden
