$toggleSize = 25px
$borderColor = #111

.pc-timeline
    .tl-inner
        position relative

    .tl-frame
        position absolute
        top 0
        bottom 0
        
        background-color rgba(black, 0.2)

        overflow hidden
