div#scenes.container-fluid
    h3 Scenes
    div.row-buttons
        a.btn.btn-primary(@click="createProject") Создать
        a.btn.btn-primary(@click="openProject") Открыть...
            
    hr
    div.row-scenes
        .scene-preview(v-if="")
    
