// .ctx-entity

.ctx-menu
    position absolute
    top 0
    left 0

    display none
    opacity 0
    z-index 100

    &.opened
        display block
        opacity 1

    .ctx-menu-list
        background #333
        width 170px
        color #eee

    .ctx-menu-item
        position relative
        cursor pointer
        line-height 30px
        border-bottom 1px solid #555

        i.icon
            width 24px
        i.material-icons
            font-size 1.5em

        &:hover
            background rgba(#fff, 0.2)

    .has-sublist
        & > .ctx-menu-list
            position absolute
            display none
            top 0
            left 100%
            width 100%

        &:hover > .ctx-menu-list
            display block
