v-container#project(grid-list-md)
    h3 Project: {{project.name}}

    hr
    h3 Scenes
    v-layout.scene-list(row wrap)
        v-flex(xs3 v-for="item, i in project.scenes" :key="item.id")
            v-card.project-card(@click.native="selectScene(item)")
                v-card-title {{item.name}}
