#projects.container-fluid
    h3 Project: {{project.name}}

    hr
    h3 Scenes
    div.scene-list.list-group
        a.list-group-item.list-group-item-action(v-for="item in project.scenes" @click="selectScene(item)")
            span.scene-name {{item.name}}
