.pc-entity-inspector(:data-name="entity.name" :data-guid="entity._guid")
    header.ui-header Entity
    .px-2
        .entity-attr.entity-attr-boolean
            label.attr-name Enabled
            .attr-value: input(:value="entity.enabled" type="checkbox")
        .entity-attr.entity-attr-string
            label.attr-name _guid
            .attr-value: input.animated(v-model="entity._guid" type="text" disabled :title="entity._guid")
        .entity-attr.entity-attr-string
            label.attr-name Name
            .attr-value: input.animated(v-model="entity.name" type="text")
                
        .entity-attr.entity-attr-vec
            label.attr-name Position
            .attr-value: i-number.animated(v-model.number="position.x" @input="setPosition")
            .attr-value: i-number.animated(v-model.number="position.y" @input="setPosition")
            .attr-value: i-number.animated(v-model.number="position.z" @input="setPosition")
            //- .attr-value: input.animated(v-model.number="position.z" @input="setPosition" type="text")
        .entity-attr.entity-attr-vec
            label.attr-name Rotation
            .attr-value: input.animated(v-model.number="rotation.x" @input="setRotation" type="text")
            .attr-value: input.animated(v-model.number="rotation.y" @input="setRotation" type="text")
            .attr-value: input.animated(v-model.number="rotation.z" @input="setRotation" type="text")
        .entity-attr.entity-attr-vec
            label.attr-name Scale
            .attr-value: input.animated(v-model.number="scale.x" @input="setScale" type="text")
            .attr-value: input.animated(v-model.number="scale.y" @input="setScale" type="text")
            .attr-value: input.animated(v-model.number="scale.z" @input="setScale" type="text")
