div.ui-dock.animated(:class="[{'opened': opened}, classPosition]" :style="styles")
    .ui-dock-inner
        slot
    .ui-dock-resize(v-if="resizable" v-dragged="onDragged")
    .ui-dock-toggle(@click="toggle")
        .ui-dock-toggle-btn.animated: v-icon {{iconToggle}}
        
