.pc-entity
    .pc-entity-item
        display flex
        line-height 1.8em
        cursor pointer
        color #ccc

        &:hover
            background rgba(#000, 0.2)
            color #fff
        &.selected
            background rgba(#000, 0.5)
            color #fff

    .pc-entity-toggle
        width 2rem
        font-size 0.6em
        vertical-align middle
        text-align center

        & > i.fa
            vertical-align middle
            padding-top 0.2em

    .pc-entity-name
        flex 1 1 auto

    &.disabled
        color #999
        opacity 0.5

    &.deleting
        background rgba(red, 0.3)
        opacity 0.8
