.pc-entity
    .pc-entity-item
        line-height 1.8em
        cursor pointer

        &:hover
            background rgba(#fff, 0.2)
        &.selected
            background rgba(#fff, 0.5)

    .pc-entity-toggle
        width 1.5rem
        font-size 0.6em
        vertical-align middle
        text-align center

        & > i.fa
            vertical-align middle
            padding-top 0.2em
