div.pc-entity(:class="{opened: opened, disabled: !entity.enabled, deleting: entity.__deleting}" :data-name="entity.name" :data-guid="entity._guid")
    div.pc-entity-item(:class="{selected: isSelected}" @dblclick="toggle")
        div.pc-entity-toggle(@click.stop="toggle")
            v-icon(v-if="isFolder && !opened") keyboard_arrow_right
            v-icon(v-if="isFolder && opened") keyboard_arrow_down
        div.pc-entity-name.pr-2 {{entity.name}}
    div.pc-entity-children.pl-3(v-if="opened")
        pc-entity(v-for="item in children" :key="item._guid" :entity="item")
        
