#main
    //- v-navigation-drawer(app)
    v-toolbar(app height="36")
        v-toolbar-items
            v-btn(:to="{name: 'projects'}" exact) Home
            //- v-btn(:to="{name: 'home'}" exact) Home
            //- v-btn(:to="{name: 'projects'}") Projects
    v-content(dark)
        router-view
    //- v-footer(app)
