$root = '../../../'
@require $root + 'app/mixins.styl'

#projects
    .project-list
        .project-card
            elevationTransition()

            &:hover:not([disbled])
                cursor pointer
                elevation(6, true)

                & .btn-delete
                    opacity 1

            .btn-delete
                display inline-block
                position absolute
                bottom 1rem
                right 0
                width 1em
                height 1em
                opacity 0
                color #ff9e9e

                &:hover
                    color #f33636
