v-container#projects(grid-list-md)
    h3 Projects
    div.row-buttons
        //- a.btn.btn-primary(@click="createProject") Создать
        v-btn(@click="openProject") Open...
            
    hr
    v-layout.project-list(row wrap)
        v-flex(xs3 v-for="item, i in sortedProjects" :key="item.id")
            v-card.project-card(@click.native="selectProject(item)")
                v-card-title {{item.name}}
                v-icon.btn-delete(@click.stop="deleteProject(item)") delete
                //- v-icon.btn-delete(@click.stop="deleteProject(item)") remove_circle_outline
            
            //- v-btn.project-card.card(@click="selectProject(item)")
                v-btn-title {{item.name}}
