div#editor.flex-full.position-relative: .absolute-full
    canvas#canvas-3d
    ui-dock.ui-dock-left(ref="leftDock" :aria-opened="true")
        div.text-center.px-4.mb-2 {{project.name}}
        pc-entity(:entity="rootNode" v-if="rootNode")
    ui-dock.ui-dock-right(ref="rightDock" :aria-opened="false")
        pc-entity-inspector(v-if="selected.length" :entity="selected[0]")
        //- div(v-if="selected.length") {{selected[0].name}}
        
        
//- div#editor2.flex-full.d-flex.no-gutters
    .col-left
        #panel-left.ui-panel
    .col.col-center
        .ui-panel.position-relative
            canvas#canvas-3d.absolute-full
    .col-right
        #panel-right.ui-panel
    
