doctype html 5
html
    head
        meta(charset="utf-8")
        //- link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        //- script(src="/config.js")
        //- script(src="lib/playcanvas-latest.js")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons")
        title Pc Editor

    body
        //- SEPARATE EXAMPLE
        #app: v-app
            router-view
                
        //- BASIC EXAMPLE
        //- #app: v-app
        //-     //- v-navigation-drawer(app)
        //-     v-toolbar(app)
        //-         router-link(:to="{name: 'home'}") HOME
        //-         router-link(:to="{name: 'projects'}") Projects
        //-     v-content
        //-         router-view
        //-     //- v-footer(app)
